/* ----------------------------------------------------------------
Common
-----------------------------------------------------------------*/
h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 95px;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 54px;
  color: #120C04;
}



/* JUST FOR TESTING */
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

/* Small text */
h5 {
  font-family: 'Montserrat', sans-serif;

}

/* ------------------ */

.colored {
  color: #F49422;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #120C04;
}

.no-padding {
  padding: 0;
}

@media (max-width: 575px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 70px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 80px;
  }
}

/* ----------------------------------------------------------------
Header
-----------------------------------------------------------------*/
#logo {
  /* font-weight: bold;
  font-size: 32px;
  line-height: 124%;
  letter-spacing: 0.05em;
  color: #FFFFFF; */
}

#logo_white {
  display: none;
}

.dark #logo_dark {
  display: none;
}

.dark #logo_white {
  display: -ms-flexbox;
  display: flex;
}

/*
.not-dark #logo_dark{
	display: -ms-flexbox;
	display: flex;
}
*/
/*
.sticky-header #logo_light{
	display: none;
}
*/
/* ----------------------------------------------------------------
Hero
-----------------------------------------------------------------*/
#hero-box {
  color: #FFFFFF;
  height: 100%;
}

#hero-text {
  font-weight: bold;
  line-height: 100%;
}

#hero-longread {
  font-size: 22px;
  line-height: 150%;
  max-width: 629px;
}

/* ----------------------------------------------------------------
Our Services
-----------------------------------------------------------------*/
#our_services {
  margin-top: 100px;
}

.our_services-sub-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
}

#our_services_block2 {
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  background: #F49422;
}

#our_services_text-block2 {
  padding-top: 150px;
  padding-bottom: 120px;
  margin-top: 100px;
}

#our_services2_text1 {
  font-size: 24px;
  line-height: 190%;
}

#our_services2_text2 {
  font-size: 32px;
  line-height: 120%;
}

/* ----------------------------------------------------------------
Cooperation Offer
-----------------------------------------------------------------*/
.cooperation_offer-title {
  font-weight: bold;
  font-size: 54px;
  line-height: 120%;
  color: #F49422;
}

.cooperation_offer-normal-text {
  font-size: 22px;
  line-height: 150%;
}

.cooperation_offer-small-text {
  font-size: 16px;
  line-height: 130%;
}

.cooperation_offer-advantage-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

#cooperation_offer_line1 {
  margin-top: 90px;
  margin-bottom: 40px;
}

#cooperation_offer_line2 {
  margin-top: 0px;
  margin-bottom: 40px;
}

#cooperation_offer_line3 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.image-padding {
  max-width: 50px;
}

.row-magrin {
  margin-top: -30px;
}

#cooperation_offer {
  background-color: #F7F7F7;
  padding-top: 200px;
}

/* ----------------------------------------------------------------
Cooperation Offer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
Non - disclosure
-----------------------------------------------------------------*/
#non-disclosure-block {
  margin-top: 150px;
}

.non-disclosure-line {
  position: relative;
  width: 100%;
  border-top: 1px solid #EEE;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* ----------------------------------------------------------------
About US
-----------------------------------------------------------------*/
#about_us {
  margin-top: 50px;
}

#about_us-box {}

#about_us1 {
  background: #F49422;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
  padding-top: 50px;
}

#about_us2 {
  background: #F6F6F6;
  font-size: 22px;
  line-height: 150%;
  padding-top: 50px;
}

#about_us-after-text {
  margin-top: 50px;
}

/* ----------------------------------------------------------------
Why US
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
Cooperation procedure
-----------------------------------------------------------------*/
#Cooperation_procedure {
  margin-top: 80px;
}

/* ----------------------------------------------------------------
our-support
-----------------------------------------------------------------*/
#our-support {
  background: #F49422;
  color: #FFFFFF;
  margin-top: 100px;
  padding-top: 150px;
  padding-bottom: 150px;
}

#our-support-title {
  color: #FFFFFF;
}

#our-support-text {
  font-size: 40px;
}

#our-support-button{
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-style: solid;
  font-size: 20px;
  margin-top: 60px;
  padding-left: 48px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 200px;
}

#our-support-button:hover{
  background: #FFFFFF;
  color: #120C04;
}
/* ----------------------------------------------------------------
Form
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
	write to us
------------------------------------------------------------------*/
.write_to_us-block {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;

  max-width: 858px;
  width: 100%;
  padding-bottom: 60px;
  background: linear-gradient(105.97deg, #FEB692 0%, #EA5455 100%);
}

.write_to_us-title-form {
  margin-top: 15px;
  text-align: center;
  color: #FFFFFF;
}

#write_to_us-block-small {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.write_to_us-name {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
}

.write_to_us-name-line {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
}

.write_to_us-phone {
  width: 100%;
  margin-top: 40px;
  background-color: transparent;
  color: #FFFFFF;
}

.write_to_us-phone-line {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
}


.write_to_us-comment {
  margin-top: 40px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
}

.write_to_us-comment-line {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
}

.write_to_us-personal-data {
  margin-top: 45px;
  width: 50%;
  color: #FFFFFF;
}

.write_to_us-button-send {
  margin-top: 45px;
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
  max-height: 56px;

  background-color: transparent;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;

  color: #FFFFFF;
}

.write_to_us-button-send:hover {
  background-color: white;
  border: 1px solid #FFFFFF;
  color: #EA5455;
}

@media (max-width: 767px) {
  .write_to_us-personal-data {
    width: 100%;
  }

  .form-group {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .write_to_us-personal-data {
    width: 50%;
  }

  .form-group {
    justify-content: space-between;
  }
}





input[type=text] {
  border: none;

}

input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

/*
.valid_input {
  background-color: unset;
  border-color: green;
  color: green;
  box-shadow: none;
}

input:invalid {
  border-color: red;
}

#errorEmail,
#errorName,
#name:invalid,
input:invalid,
#enterName,
#enterEmail {
  color: red;
}

#validName {
  color: green;
}

#validEmail {
  color: green;
}

#forma {
  margin: auto;
}
*/
/* Change Autocomplete styles in Chrome*/
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(255, 240, 240);
  box-shadow: background-color 0 0 0px 1000px rgb(255, 255, 255) inset;
  -webkit-box-shadow: background-color 0 0 0px 1000px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}
*/

/* ----------------------------------------------------------------
Footer
-----------------------------------------------------------------*/