/* ----------------------------------------------------------------
Common
-----------------------------------------------------------------*/
h2{
  font-weight: bold;
  font-size: 80px;
  line-height: 95px;
}
h1,
h2,
h3 {
  font-family: 'Rubik', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #120C04;
}
/* ----------------------------------------------------------------
Header
-----------------------------------------------------------------*/
#logo{
  font-weight: bold;
  font-size: 32px;
  line-height: 124%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
/* ----------------------------------------------------------------
Hero
-----------------------------------------------------------------*/
#hero-box{
  color: #FFFFFF;
}
#hero-text{
  font-weight: bold;
  font-size: 120px;
  line-height: 100%;
}
#hero-longread{
  font-size: 22px;
  line-height: 150%;
  max-width: 629px;
}
/* ----------------------------------------------------------------
Our Services
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
Cooperation Offer
-----------------------------------------------------------------*/
.cooperation_offer-title{
  font-weight: bold;
  font-size: 54px;
  line-height: 120%;
  color: #F49422;
}
.cooperation_offer-normal-text{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #0B132A;
}
.cooperation_offer-small-text{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #0B132A;
}
.cooperation_offer-advantage-text{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #120C04;
}
#cooperation_offer_line1{
  margin-top: 90px;
  margin-bottom: 40px;
}
#cooperation_offer_line2{
  margin-top: 0px;
  margin-bottom: 40px;
}
#cooperation_offer_line3{
  margin-top: 0px;
  margin-bottom: 40px;
}
.image-padding{
  max-width: 50px; 
}
.row-magrin{
  margin-top: -30px;
}
#cooperation_offer{
  background-color:#F7F7F7;
  padding-top: 200px;
}
/* ----------------------------------------------------------------
Cooperation Offer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
Cooperation Offer Detailes
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
About US
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
Why US
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
Cooperation procedure
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
Form
-----------------------------------------------------------------*/
.valid_input {
  background-color: unset;
  border-color: green;
  color: green;
  box-shadow: none;
}

input:invalid {
  border-color: red;
}

#errorEmail,
#errorName,
#name:invalid,
input:invalid,
#enterName,
#enterEmail {
  color: red;
}

#validName {
  color: green;
}

#validEmail {
  color: green;
}

#forma {
  margin: auto;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(255, 240, 240);
  box-shadow: background-color 0 0 0px 1000px rgb(255, 255, 255) inset;
  -webkit-box-shadow: background-color 0 0 0px 1000px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* ----------------------------------------------------------------
Footer
-----------------------------------------------------------------*/